[submodule "submodules/pathogen"]
	path = submodules/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "submodules/vim-vividchalk"]
	path = submodules/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "submodules/vim-ruby"]
	path = submodules/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "submodules/command-t"]
	path = submodules/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "submodules/syntastic"]
	path = submodules/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "submodules/taglist"]
	path = submodules/taglist
	url = https://github.com/esukram/taglist.vim.git
[submodule "submodules/bufonly"]
	path = submodules/bufonly
	url = https://github.com/duff/vim-bufonly.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/leshill/vim-json.git
[submodule "submodules/kwdbi"]
	path = submodules/kwdbi
	url = https://github.com/vim-scripts/kwbdi.vim.git
[submodule "submodules/nerdcommenter"]
	path = submodules/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "submodules/minibufexpl"]
	path = submodules/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "submodules/jslint"]
	path = submodules/jslint
	url = https://github.com/joestelmach/javaScriptLint.vim.git
[submodule "submodules/rails"]
	path = submodules/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "submodules/indent-object"]
	path = submodules/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "submodules/surround"]
	path = submodules/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "submodules/snipmate"]
	path = submodules/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "submodules/rubycomplete"]
	path = submodules/rubycomplete
	url = https://github.com/vim-scripts/rubycomplete.vim.git
[submodule "submodules/supertab"]
	path = submodules/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "submodules/xmledit"]
	path = submodules/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "submodules/ack"]
	path = submodules/ack
	url = https://github.com/mileszs/ack.vim.git
